<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=shopping_cart" />
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
    <div class="container">
        <!-- Shop Name -->
        <a class="navbar-brand" href="#">Clothy</a>

        <!-- Toggle button for smaller screens -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar content -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center">
                <!-- Cart Icon with Badge -->
                <li class="nav-item me-3">
                    <a class="nav-link position-relative" href="#">
                        <span class="material-symbols-outlined">shopping_cart</span>
                        <span
                            class="badge rounded-pill bg-danger position-absolute top-0 start-100 translate-middle">1</span>
                    </a>
                </li>

                <li class="nav-item">
                    <button class="btn btn-primary me-2" (click)="toProducts()">Products</button>
                </li>

                <!-- Authentication Buttons -->
                <li class="nav-item">
                    <button *ngIf="loggedOut" class="btn btn-primary me-2" (click)="logIn()">
                        Log In
                    </button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-primary" *ngIf="!loggedOut" (click)="showProfile()">Profile</button>
                </li>
            </ul>
        </div>
    </div>
</nav>